:root{
    --unit:19.52vw;
}

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "al";
    src: url("/asset/ApercuLight.otf");
  }

  @font-face {
    font-family: "am";
    src: url("/asset/ApercuMedium.otf");
  }

@media only screen and (min-width: 1800px) {
    body{
        font-size: 18pt;
    }
  }
@media only screen and (min-width:1280px) and (max-width: 1800px) {
    body{
        font-size: 12pt;
    }
  }
@media only screen and (min-width:600px) and (max-width: 1280px) {
    body{
        font-size: 12pt;
    }
  }
@media only screen and (max-width:600px) {
    body{
        font-size: 12pt;
        /* width:100%;
        overflow-x: hidden; */
    }
  }

body{
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
    /* overflow-x: scroll; */
    /* width: 100vw; */
    /* height: fit-content; */
    background-color: white;
}

a{
    position: relative;
    color: black;
    text-decoration: none;
}
.hoverEffect:hover::after{
    position: absolute;
    padding-left: 0.8em;
    padding-right: 0.8em;
    width: 100%;
    height:30%;
    border-radius: 100%;
    content:'';
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1pt solid black;
    text-align: center;
}


/* .hoverEffectImg:hover::after{
    position: absolute;
    width: 99%;
    height:19.51vw;
    border-radius: 40px;
    content:'';
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1pt solid black;
    text-align: center;
} */

.hidden{
    opacity: 0;
}

.highlight::after{
    position: absolute;
    padding-left: 0.8em;
    padding-right: 0.8em;
    width: 100%;
    height:30%;
    border-radius: 100%;
    content:'';
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1pt solid black;
    text-align: center;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  .title{
    /* font-family: roc-grotesk,sans-serif; */
    /* font-family: am; */
    /* font-weight: 500; */
    /* font-family: urw-din, sans-serif;
font-weight: 600; */
/* font-family: dinosaur, sans-serif;
font-weight: 500; */
font-family: din-2014, sans-serif;
font-weight: 600;
    font-style: normal;
font-size: 1.3em;
text-transform:uppercase;
line-height: 1.35;
letter-spacing: 0.25px;
z-index: 1002;
}

.text{
    /* font-family: roc-grotesk,sans-serif; */
    /* font-family: al; */
    /* font-family: urw-din, sans-serif;
font-weight: 400; */
/* font-family: dinosaur, sans-serif;
font-weight: 400; */
font-family: din-2014, sans-serif;
font-weight: 400;
    font-weight: 300;
    font-style: normal;
font-size: 1em;
line-height: 1.35;
letter-spacing: 0.5px;
}

.gridWrap{
    position: fixed;
    width: 100%;
    left: 2.52em;
    display: grid;
        grid-template-columns: repeat(6, 19.52vw);
        grid-template-rows: repeat(6, 19.52vw); 
        column-gap: 0;
        row-gap: 0;
    z-index: 1030;
    pointer-events:none;
    /* opacity: 1; */
    transition: opacity 0.8s;
}

.cross::before,
.cross::after {
    position: absolute;
    content: '';
    width: 1em;
    height: 1px; /* cross thickness */
    background-color: black;
    margin-top: 0.5em;
    margin-left: -1em;
}

div::after {
    transform: rotate(-90deg);
}

.gridContainer{
    position: fixed;
    width: 100%;
    left: 2.52em;
    display: grid;
        grid-template-columns: repeat(6, 19.52vw);
        grid-template-rows: repeat(6, 19.52vw); 
        column-gap: 0;
        row-gap: 0;
    z-index: 990;
}

.gridItem{
    padding-top: 2.75em;
    padding-left: 1em;
    padding-right: 0.5em;
}

    .logo{
        position: fixed;
        left: 2.52em;
        max-width: 12vw;
        z-index: 1010;
    }
    .logo img{
        padding-top:0.25em;
        padding-bottom:0.25em;
        width: 100%;
        z-index: 1000;
    }

    .nav{
        position: fixed;
        left:2.52em;
        margin-left: calc(var(--unit) * 4);
        z-index: 1000;
    }

    .subnav{
        position: fixed;
        left: 2.52em;
        top: 19.52vw;
        z-index: 1000;
    }
    
    .about{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
        overflow-y: scroll;
        padding-top: calc(var(--unit) + 2.75em);
    }
    .about::-webkit-scrollbar {
        display: none;
    }
    .abouttext{
        font-size: 1.3em;
        padding-bottom: 7em;
        padding-right: 8em;
    }
    .contact{
        grid-column-start: 4;
        grid-row-start: 2;
        grid-row-end: 4;
    }

.product{
    position: relative;
    width: calc(var(--unit) * 2);
    height: calc(var(--unit) + 100vh - var(--unit) * 2);
    /* overflow: hidden; */
}
.productItem{
    padding-top: 19.52vw;
    padding-left: 1em;
    position: absolute;
    left: 0;
    top: 0;
    }
.productWrap, .productDetailWrap, .cartWrap{
    z-index: 3;
    position: absolute;
    top: 19.52vw;
    width: 100%;
}
.productContainer{
    position: relative;
    padding-left: 2.52em;
    left: 39.04vw;
    list-style: none;
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    width: fit-content;
}
.productDetailContainer{
    position: relative;
    padding-left: 2.52em;
    padding-top: 0.5em;
    left: 0;
    list-style: none;
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    width: fit-content;
}

.productOverviewBuffer, .productDetailBuffer{
    width: 19.52vw;
}

.productOverview a img{
    position: absolute;
    width: calc(var(--unit) * 2);
    object-fit: contain;
    /* z-index: -2; */
    margin-top: 0.5em;
    margin-left: -0.5em;
    max-height: 19.52vw;
}
.productOverview a img:hover{
    /* border: solid 1pt black;
    border-radius: 40pt; */
    background-color: white;
    cursor: pointer;
}
.productInfo{
    position: absolute;
    left: 0;
    top: 2.75em;
}

.productPageDes{
    position: fixed;
    left: calc(var(--unit) * 3 + 2.52em);
    /* padding-left: 2.52em; */
    top: var(--unit);
    bottom: 0;
    z-index: 1000;
    max-width: 17vw;
}
.productDesContainer{
    position: relative;
    overflow-y: scroll;
    overflow-x: visible;
    max-height: 24.5vw;
    width: 17vw;
    top: 0;
}
.productDes{
    /* overflow-y: scroll; */
    /* max-height: 25.5vw; */
}
.productDesContainer::-webkit-scrollbar {
    display: none;
}
.productDetail{
    /* margin-top: 0.5em; */
    margin-left: -0.5em;
}
.productD{
    position: relative;
    width: calc(var(--unit) * 3);
    /* height: fit-content; */
    height: calc(var(--unit) + 100vh - var(--unit) * 2 - 0.5em);
}
.productDetail .imgContainer{
    position: calc(var(--unit) * 3);
    /* background-color: white; */
    width: 58.56vw;
    height: calc(var(--unit) + 100vh - var(--unit) * 2 - 0.5em);
    object-fit: cover;
    /* z-index: -2; */
    /* margin-top: 0.5em; */
    /* 
    margin-left: -0.5em; */
    overflow: hidden;
}
.productDetail img{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
;}
/* .productDetail:last-child>.productD,.productDetail:last-child>.productD>.imgContainer{
    position: absolute;
    height:35.95vw;
} */
.howToUse{
    display: block;
    width: fit-content;
    margin-bottom: 1em;
}
.howTo{
    display: none;
    margin-bottom: 1em;
}
.productAdd{
    position: fixed;
    left:calc(var(--unit) * 4);
    top: var(--unit);
    z-index: 1000;
}
.addToCart{
    padding-left:2.52em;
}
.productAdd .productQuantity{
    padding-left: 1em;
}
.back{
    position: fixed;
    left: 2.52em;
    top: 15.02vw;
    z-index: 1000;
}

.cart{
    position: fixed;
    margin-left: 2.05em;
    margin-top: 0.5em;
    left: 78.08vw;
    top: 19.52vw;
    z-index: 1010;
    width: 19.52vw;
    height: 39.04vw;
    background-color: white;
    display: none;
    /* transition:0.8s; */
    /* border: solid 1pt black; */
    /* box-shadow:inset 0px 0px 0px 1.1px #f00; */
}
.toCart{
    position: fixed;
    left: 2.52em;
    top: 15.02vw;
    z-index: 1000;
}
.goToCart{
    left: 78.08vw;
}
.close{
    position: fixed;
    right: 1.25em;
    top: 15.02vw;
    z-index: 1000;
}
.productThumbnail{
    width: 19.52vw;
    /* padding-top: 2.1em; */
    padding-top: 2.75em;
    margin-top: -0.5em;
    min-height: 39.04vw;
    padding-right: -0.75em;
    position: absolute;
    overflow-x: hidden;
    top: 0;
}
.productThumbnailInfo{
    font-family: ff-good-web-pro-condensed;
    font-weight: 600;
    padding-left: 1.5em;
    padding-top: 2.75em;
    position: absolute;
    top: 0;
    /* left:var(--unit); */
    /* padding-left: 1em; */
}
.productThumbnail img{
    position: absolute;
    width: 120%;
    left: 50%;
    transform: translate(-50%);
    top: 4.75em;
    z-index: -5;
}
.productThumbnailCartInfo{
    position: absolute;
    top: 0;
    left:calc(var(--unit) );
    padding-left: 1em;
}
.productThumbnailLittleCartInfo{
    position: absolute;
    top: 19.52vw;
    left: 0.5em;
    /* padding-left: 1.73em; */
}
.productCart:last-child{
    padding-bottom: calc(100vh - 39.04vw);
}
.productAdd .productQuantity .addmin{
    position: absolute;
    left: 12em;
    transform: rotate(90deg);
}
.productThumbnailCartInfo .productQuantity .addmin{
    position: absolute;
    left: 2em;
    transform: rotate(90deg);
    /* display: inline-block; */
}
.productThumbnailLittleCartInfo .productQuantity .addmin{
    position: absolute;
    left: 7em;
    transform: rotate(90deg);
    /* display: inline-block; */
} 
.add, .min{
    cursor: pointer;
}
.productThumbnailCartInfo .remove{
    position: absolute;
    left: 19.52vw;
    top: 0;
}
.cartSubnav{
    position: fixed;
    padding-left: 3.52em;
        left: calc(var(--unit) * 4);
        top: var(--unit);
        z-index: 1000;
}
.cartContainer{
    position: relative;
    padding-left: 2.52em;
    left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: fit-content;
}

.productCartItem{
    padding-top: 2.75em;
    padding-right: -0.75em;
    position: relative;
}
.productCart{
    position: relative;
    width: 19.52vw;
    height: 19.52vw;

}
.productCart img{
    position: absolute;
    width: 100%;
    object-fit: cover;
    /* z-index: -2; */
    /* left:var(--unit); */
    margin-top: 0.5em;
    margin-left: -0.5em;
}
.checkOutDetail{
    text-transform: capitalize;
}
#checkOut{
    position: absolute;
    top: 19.52vw;
    padding-top: 2.25em;
}

.loginWrap{
    position: relative;
    top: 19.52vw;
    left: 19.52vw;
    padding-left: 2.52em;
    width: 39.04vw;
    display: grid;
    grid-template-columns: repeat(2, 19.52vw);
    grid-template-rows: repeat(2, 19.52vw); 
    column-gap: 0;
    row-gap: 0;
}
.epInfo .title, .ipInfo .title{
    text-transform: capitalize;
}
#email, #password, #ea, #fn, #ln, #op, #np{
    -webkit-appearance: none;
    /* margin-left: 0.2em; */
    border: none;
    text-decoration: 1pt underline solid black;
    outline: none;
    text-align: left;
    color: black;
    display:inline-block;
    white-space:pre-wrap;
    max-width: 100%;
}
#email[contenteditable]:empty::before {
    content: "your email";
    color: lightgray;
}
#password[contenteditable]:empty::before {
    content: "your password";
    color: lightgray;
}
#ea[contenteditable]:empty::before, #fn[contenteditable]:empty::before, #ln[contenteditable]:empty::before, #op[contenteditable]:empty::before, #np[contenteditable]:empty::before {
    content: "placeholder";
    color: lightgray;
}

.tickerwrapper {
    /* the outer div */
    position: fixed;
    bottom: 0;
    left:0;
    /* border: 1px solid #444; */
    background:black;
    color:white;
    width: 100%;
    height: 1.7em;
    overflow: hidden;
    cursor: default;
    z-index: 2000;
  }
  
  ul.list {
    position: relative;
    display: inline-block;
    list-style: none;
    padding:0;
    margin:0;
    padding-top: 0.325em;
  }
  
  ul.list.cloned {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0.325em;
  }
  
  ul.list li {
    float: left;
    padding-left: 1.5em;
  }