:root{
    --unit:19.52vw;
}

@media only screen and (min-width: 1800px) {
    body{
        font-size: 18pt;
    }
  }
@media only screen and (min-width:1280px) and (max-width: 1800px) {
    body{
        font-size: 12pt;
    }
  }
@media only screen and (min-width:600px) and (max-width: 1280px) {
    body{
        font-size: 12pt;
    }
  }
@media only screen and (max-width:600px) {
    body{
        font-size: 12pt;
        /* width:100%;
        overflow-x: hidden; */
    }
  }

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    text-rendering: optimizespeed;
    -webkit-font-smoothing: antialiased;
}

body{
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
    /* overflow-x: scroll; */
    /* width: auto; */
    background-color:white;
}

a{
    position: relative;
    color: inherit;
    text-decoration: none;
}
.hoverEffect:hover::after{
    position: absolute;
    padding-left: 0.8em;
    padding-right: 0.8em;
    width: 100%;
    height: 30%;
    border-radius: 100%;
    content:'';
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1pt solid black;
    text-align: center;
}

.title{
    /* font-family: roc-grotesk,sans-serif;
    font-weight: 500; */
    font-family: din-2014, sans-serif;
font-weight: 600;
    font-style: normal;
font-size: 1.3em;
text-transform:uppercase;
line-height: 1.35;
letter-spacing: 0.25px;
z-index: 1002;
}

.text{
    /* font-family: roc-grotesk,sans-serif;
    font-weight: 300; */
    font-family: din-2014, sans-serif;
font-weight: 400;
    font-style: normal;
font-size: 1em;
line-height: 1.35;
letter-spacing: 0.5px;
}

.gridWrap{
    position: fixed;
    width: 100%;
    left: 2.52em;
    /* padding-left: 1vw; */
    display: grid;
        grid-template-columns: repeat(6, 19.52vw);
        grid-template-rows: repeat(6, 19.52vw); 
        column-gap: 0;
        row-gap: 0;
        z-index: 1030;
    pointer-events:none;
    transition: opacity 0.8s;
top:0;
}

.cross::before,
.cross::after {
    position: absolute;
    /* transform: translate(-50%,-50%); */
    content: '';
    width: 1em;
    height: 1px; /* cross thickness */
    background-color: black;
    margin-top: 0.5em;
    margin-left: -1em;
}

.bigVd{
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 2.02em;
    padding-top:0.5em;
    width: calc(var(--unit) * 5);
    height: calc(var(--unit) * 3);
    object-fit: contain;
    overflow: hidden;
}

.green{
    color: lime;
}
.green::before,
.green::after{
    position: absolute;
    /* transform: translate(-50%,-50%); */
    content: '';
    width: 1.5em;
    height: 1px; /* cross thickness */
    background-color: lime;
    margin-top: 0.75em;
    margin-left: -1.5em;
}
.red{
    color: red;
}
.red::before,
.red::after{
    position: absolute;
    /* transform: translate(-50%,-50%); */
    content: '';
    width: 1.5em;
    height: 1px; /* cross thickness */
    background-color: red;
    margin-top: 0.75em;
    margin-left: -1.5em;
}
.pink{
    color: magenta;
}
.pink::before,
.pink::after{
    position: absolute;
    /* transform: translate(-50%,-50%); */
    content: '';
    width: 1.5em;
    height: 1px; /* cross thickness */
    background-color: magenta;
    margin-top: 0.75em;
    margin-left: -1.5em;
}
.blue{
    color: blue;
}
.blue::before,
.blue::after{
    position: absolute;
    /* transform: translate(-50%,-50%); */
    content: '';
    width: 1.5em;
    height: 1px; /* cross thickness */
    background-color: blue;
    margin-top: 0.75em;
    margin-left: -1.5em;
}

div::after {
    transform: rotate(-90deg);
}

.info{
    max-height: 1.25em;
    padding-top: 0.5em;
    /* position: absolute; */
    /* top: 50%;
    transform: translateY(-50%); */
    color: white;
    overflow: hidden;
}

.gridItem{
    padding-top: 2.75em;
    padding-left: 1em;
    padding-right: 0.8em;
}

.logo{
    position: fixed;
    left: 2.52em;
    max-width: 12vw;
    z-index: 1010;
}
.logo img{
    padding-top:0.25em;
    padding-bottom:0.25em;
    width: 100%;
    z-index: 1000;
}

.nav{
    position: fixed;
    left:2.52em;
    margin-left: calc(var(--unit) * 4);
    z-index: 1000;
}

.grass{
    transform: translate(-50%,-50%);
    pointer-events: none;
}
.sayHi{
    position: absolute;
    /* left: 2.52em; */
    left: -0.5em;
    margin-top: 0.5em;
    box-sizing: border-box;
    top: calc(var(--unit) * 4);
    width: var(--unit);
    height: var(--unit);
    /* transition: opacity 2s; */
}
.sayHiText{
    margin-top: -1.45em;
    max-width: 17.05vw;
}
#name{
    -webkit-appearance: none;
    margin-left: 0.2em;
    border: none;
    text-decoration: 1pt underline solid black;
    outline: none;
    text-align: left;
    color: lime;
    display:inline-block;
    white-space:pre-wrap;
    max-width: 100%;
}
#name[contenteditable]:empty::before {
    content: "anon";
    color: lime;
}
.clock{
    position: absolute;
    /* left: 2.52em; */
    margin-left: -0.5em;
    margin-top: 0.5em;
    box-sizing: border-box;
    top: calc(var(--unit) * 3);
    left: calc(var(--unit) * 2);
    width: var(--unit);
    height: var(--unit);
}
.clockText, .buttonText, .colorText{
    margin-top: -1.45em;
}
#clock{
    position: absolute;
    top: 1.3em;
    right: 1em;
}
/* .button{
    position: absolute;
    margin-left: -0.5em;
    margin-top: 0.5em;
    box-sizing: border-box;
    top: 19.52vw;
    left: 78.08vw;
    width: 19.52vw;
    height: 19.52vw;
} */
/* .color{
    position: absolute;
    margin-left: -0.5em;
    margin-top: 0.5em;
    box-sizing: border-box;
    top: 58.56vw;
    left: 39.04vw;
    width: 19.52vw;
    height: 19.52vw;
} */
/* .colorBox{
    position:relative;
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-top: 0.3em;
    margin-right: 0.4em;
    cursor: pointer;
}
#green{
    background-color: lime;
}
#red{
    background-color: red;
}
#pink{
    background-color: magenta;
}
#blue{
    background-color: blue;
}
#black{
    background-color: black;
} */
.hidden{
    opacity: 0;
}
.contentWrap{
    left: 2.52em;
    position: relative;
    height: 100vh;
    width: fit-content;
    margin-right: 0.5em;
    z-index: 100;
}
.horizontal{
    width: calc(var(--unit) * 2);
    height: var(--unit);
    overflow: hidden;
    margin-top: 0.5em;
    margin-left: -0.5em;

}
.vertical{
    width: var(--unit);
    height: calc(var(--unit) * 2);
    overflow: hidden;
    margin-top: 0.5em;
    margin-left: -0.5em;


}
.single{
    width: var(--unit);
    height: var(--unit);
        overflow: hidden;
        margin-top: 0.5em;
        margin-left: -0.5em;
    
}
.imgWrap, .videoWrap{
    position: absolute;
}
.imgContainer{
    position:relative;
    width: 100%;
    height: 100%;
}
.videoContainer{
    position:relative;
    width: 100%;
    height: 100%;
}
.imgContainer img,.imgContainer img{
    position: absolute;
    width: 39.04vw;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
.videoContainer video, .videoContainer video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
#img1{
    left: calc(var(--unit) * 3);
    top: calc(var(--unit) * 5);
}
#img2{
    left: calc(var(--unit) * 2);
    top: calc(var(--unit) * 10);
    /* height: calc(100vh - 39.04vw - 0.5em); */
}
#img3{
    left: calc(var(--unit) * 1);
    top: calc(var(--unit) * 7);
}
#vd1{
    left: var(--unit);
    top: calc(var(--unit) * 8);
    /* height: calc(100vh - 39.04vw + 19.52vw - 0.5em); */
}
#vd2{
    left: calc(var(--unit) * 2);
    top: calc(var(--unit) * 4);
}
#vd3{
    left: 0;
    top: calc(var(--unit) * 5);
}
*, *::before, *::after{
    -webkit-box-sizing:padding-box;
    box-sizing:padding-box;
  }
  
  .tickerwrapper {
    /* the outer div */
    position: fixed;
    bottom: 0;
    left:0;
    /* border: 1px solid #444; */
    background:black;
    color:white;
    width: 100%;
    height: 1.7em;
    overflow: hidden;
    cursor: default;
    z-index: 2000;
  }
  
  ul.list {
    position: relative;
    display: inline-block;
    list-style: none;
    padding:0;
    margin:0;
    padding-top: 0.325em;
  }
  
  ul.list.cloned {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0.325em;
  }
  
  ul.list li {
    float: left;
    padding-left: 1.5em;
  }

.policyEtc{
    position: relative;
    /* left: 2.52em; */
    margin-left: -0.5em;
    margin-top: 0.5em;
    box-sizing: border-box;
    top: calc(var(--unit) * 11);
    left: 0;
    height: calc(100vh - 39.04vw - 0.5em);    /* width: var(--unit);
    height: var(--unit); */
}
.sr{
    position: absolute;
    left: calc(var(--unit) + 1.5em);
    bottom:2.75em;
    cursor: pointer;
    /* padding-left:1em; */
}
.pp{
    position: absolute;
    left: calc(var(--unit) * 2 + 1.5em); 
    bottom:2.75em;
    cursor: pointer;
    /* padding-left:1em; */
 
}
.tc{
    position: absolute;
    left: calc(var(--unit) * 3 + 1.5em); 
    bottom:2.75em;
    cursor: pointer;
    /* padding-left:1em; */
 
}
